<!DOCTYPE html>
<style>
    .header-shadow {
        -webkit-box-shadow: 0px 25px 21px -21px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 25px 21px -21px rgba(0,0,0,0.75);
        box-shadow: 0px 25px 21px -21px rgba(0,0,0,0.75);
    }
</style>
<html>
@model PRGX.SIMTrax.Domain.Model.OrganizationDetail

@{
    Layout = null;
}

<body style="width: 100%; margin: auto;font-family:Arial;">
    <section>
        <div style="width: 120%;margin-left:-30px;" class="header-shadow">
            <div style="width:100%;padding:0px 50px 50px 82px">
                <img id="dwnl-invoice-prgx-logo-center" width="350" src="@Server.MapPath("~/Content/Images/logo/siteLogo.png")">
            </div>
        </div>
        <div style="width: 100%; ">
            <div style="padding: 30px 50px 10px 50px; float: left; font-size: 30px">
                <div style="padding-bottom:6px;">@Model.OrganizationName</div>
            </div>
            <div style="padding: 30px 50px 10px 50px; float: right; font-size: 20px">
                <span>As of @(DateTime.Now.ToString("dd-MM-yyyy"))</span>
            </div>
            <div style="clear:both"></div>
        </div>
    </section>
</body>
</html>
