@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_layout-container.cshtml";
}
<div class="row">

    <div class="col-md-12 padding-bottom-header">
        <h3>Privacy Policy</h3>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 padding-bottom-header">
        <div class="container-white-backgound">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h4>Your privacy is important to us...</h4>
                </div>
                <br />
                <br />
                <div style="width:184px;margin:auto;">
                    <div style="font-size:20px;width:174px;margin:auto;"><b>PRGX Global, Inc.</b></div>
                    <div style="font-size:18px;width:186px;margin:auto;"><b><i>Global Privacy Policy</i></b></div>
                    <div style="font-size:14px;width:100px;margin:auto;">June 10, 2015</div>
                </div>
                <br />
                <br />
                <strong>Safe Harbor Privacy Statement</strong><br>
                <br>
                For personally identifiable information of employees, clients, healthcare providers, professionals and customers, investors, and government officials that PRGX USA, Inc. receives from the European Economic Area and Switzerland, PRGX USA, Inc. has committed to handling such personal information in accordance with the respective Safe Harbor Privacy Principles. PRGX USA, Inc. has certified its compliance with the U.S. – EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce.
                <br>
                <br>
                PRGX USA, Inc.'s Safe Harbor certification can be found at<br>
                <a class="SICCodeLink" href="http://web.ita.doc.gov/safeharbor/shlist.nsf/webPages/safe+harbor+list" target="_blank"> http://web.ita.doc.gov/safeharbor/shlist.nsf/webPages/safe+harbor+list </a><br>
                <br>
                For more information about the U.S.-EU and U.S.-Swiss Safe Harbor Privacy Principles, please visit the U.S. Department of Commerce's Website at<br>
                <a class="SICCodeLink" href="http://www.export.gov/safeharbor" target="_blank">http://www.export.gov/safeharbor </a><br>
                <br>
                <strong>Social Security Number Protection Statement</strong><br>
                <br>
                <div>
                    PRGX Global, Inc. (collectively referred to in this Statement as “we,” “our,” or “us”) collects Social Security Numbers in the ordinary course of its business, such as from our employees, as well as in certain records we process for our clients. We have implemented reasonable technical, physical and administrative safeguards to help protect the Social Security numbers. All of our employees are required to follow these established procedures. In particular:
                    <br>
                    <br>
                    Access to Social Security Numbers is limited to those employees and service providers with an approved business need to access the information to perform tasks for us and our clients.
                    <br />
                    <br />
                    Social Security Numbers are only disclosed to third parties in accordance with our established policies. We only disclose Social Security Numbers to (i) those service providers, auditors, advisors, and/or successors in interest who are legally or contractually obligated to protect them or (ii) as required or permitted by law.
                </div>
                <hr class="border-style" style=" margin-top: 20px !important; margin-bottom: 20px !important;" />
                <div><h4>Global Privacy Statement</h4></div>
                <br>
                <strong>Introduction</strong><br>
                <br>
                <div>
                    PRGX Global, Inc. and its subsidiaries and branches (collectively referred to in this  Statement  as  “we,”  “our,”  or  “us”)  are  committed  to  respecting  and protecting the privacy of individuals with whom we come into contact including our employees, our clients, our suppliers and vendors, our investors and those individuals who browse and use our website.<br>
                    <br>
                    Personally identifiable information (PII) is information that can be used to identify or contact an individual. PII includes, but is not limited to, name, home address, email address, phone number, government issued ID (i.e. SSN, SIN, driver’s license number), and health and benefits information. <br>
                    <br>
                    PII of our job applicants and employees is protected by the Employee Privacy Statement. The Employee Privacy Statement is also available on our company intranet site, by emailing privacyoffice@prgx.com or by contacting their local HR manager.   This Global Privacy Statement (“Statement”) governs our collection, use, disclosure and processing of all other PII, such as PII that we receive from our clients, our suppliers and vendors, our investors and those individuals who browse and use our website.<br>
                    <br />
                    PRGX complies with United States and international data protection laws and regulations including the European Union Data Privacy Directive, Mexico’s Federal Law Protecting Personal Data, and the Canadian Personal Information Protection and Electronic Documents Act (PIPEDA).<br />
                    <br>
                    The purpose of this Statement is to explain the types of information that we collect, what we do with that information, and with whom we share this information.
                </div>
                <br>
                <strong>How do we collect, use and disclose PII?</strong><br>
                <br>
                <div>
                    We are a business-to-business service provider, and as such we process data on behalf of our clients. We collect transactional data (most commonly, accounts payable) from, or on behalf of, our clients in order to perform the requested services. In some cases, we collect healthcare related data from, or on behalf of, our clients when auditing transactions or providing other services for clients in this industry. Information obtained from or relating to clients or former clients is subject to the terms of any contractual arrangements with the client, this Statement, as well as applicable laws and professional standards.<br>
                    <div class="col-md-10 col-md-offset-2  col-sm-11 col-sm-offset-1 col-xs-12">
                        <i>When we collect PII, our use of PII is limited to:</i><br />
                        <ul>
                            <li>purposes stated in the applicable notice or consent form,</li>
                            <li>other purposes for which the individual would reasonably expect the information to be processed,</li>
                            <li>other purposes as required or permitted by law,</li>
                            <li>customary internal purposes, such as benchmarking, reporting or quality assurance purposes, and</li>
                            <li>contacting you about products and/or services that may be of interest.</li>
                        </ul>
                    </div>
                </div>
                <br>
                <strong>Use by Third Parties</strong><br>
                <br>
                <div>
                    PII provided to us may, in limited circumstances, be shared with third party service providers. We screen third parties that would receive such information and review the intended use of the data before providing any information to them.
                    <br>
                    <br>
                    We may use contractors and other service providers to help us deliver a service and fulfill requests of our clients. In these circumstances, we ensure that appropriate contracts are executed.   Contractors and service providers are required to adhere to our privacy and security policies.
                    <br>
                    <br>
                    In addition, and at the request of a client, we may provide that client’s data to a third party for additional services arranged by the client.
                    <br>
                    <br>
                    We may also provide aggregate data (not including any PII) to third parties for various purposes, including facilitation of the improvement of services we provide to our clients.
                    <br>
                    <br>
                    Please note that we may use or disclose any information as required by law, when necessary for health or safety purposes, or when needed to protect our legal rights. For example, we may disclose information in response to a subpoena or court order. We may also disclose information in connection with the transfer or sale of our business.
                </div>
                <br>
                <strong>Security and Protection of PII</strong><br>
                <br>
                <div>
                    We have implemented various physical, electronic, managerial and administrative measures, including education and training of our employees, to provide reasonable protection of PII from accidental loss or destruction, improper use, alteration, or disclosure. We have invested in and deployed a wide variety of technology and security features for the privacy and security of PII. Access to PII is granted on a need-to-know basis. In addition, we require that all employees sign confidentiality agreements.
                    <br>
                </div>
                <br />
                <strong>Cookies</strong>
                <br /><br />
                <div>
                    Cookies may be used on some pages of our sites.   In many cases, the information we collect using cookies and other tools is only used in a non-identifiable way, without any reference to Personal Information. For example, we use information we collect about all website users to optimize our websites and to understand website traffic patterns. In some cases, we do associate the information we collect using cookies and other technology with your Personal Information. This Privacy Policy applies to the collection and use of any Personal Information that is obtained through the use of cookies and otherwise.
                </div>
                <div class="col-md-11 col-md-offset-1  col-sm-11 col-sm-offset-1 col-xs-12" style="padding-bottom:20px;padding-top:20px;">
                    <b><i>What is a cookie?</i></b><br />
                    A cookie is a text file unique to you that is related to your computer or mobile device and it can be picked up by a server, allowing the website to pick up things such as your preferences, what is in your shopping basket or allow us to recognize you when you return. This information helps us dynamically generate web content and design web functionality specifically for users of our sites and enables us to provide you with a customized experience each time that you visit.
                    <br /><br />
                    <b><i>What types of cookie do PRGX use?</i></b><br />
                    Most common technologies such as cookies, pixel tags, browser analysis tools, server logs and web beacons are used on most websites.<br /><br />
                    We may also use Flash Cookies (also known as Local Stored Objects) and similar technologies to personalize and enhance your online experience. The Adobe Flash Player is an application that allows rapid development of dynamic content, such as video clips and animation. We use Flash cookies for security purposes and to help remember settings and preferences. We do not use Flash cookies or similar technologies for behavioral or interest-based advertising purposes. To manage Flash cookies, you may visit Adobe’s website at http://kb2.adobe.com/cps/526/52697ee8.html or visit www.adobe.com.
                    <br /><br />
                    Pixel tags and web beacons are tiny graphic images placed on website pages or in emails that allow us to determine whether you have performed a specific action. When you access these pages or open or click on an email, the pixel tags and web beacons generate a notice of that action. These tools allow us to measure response to our communications and improve our web pages and promotions.
                    <br /><br />
                    <b><i>How do we collect information using cookies?</i></b><br />
                    We collect many different types of information from cookies and other technologies. For example, we may collect information from the device you use to access our website, your operating system type, browser type, domain, and other system settings, as well as the language your system uses and the country and time zone where your device is located. Our server logs may also record the IP address assigned to the device you are using to connect to the Internet. An IP address is a unique number that devices use to identify and communicate with each other on the Internet. We may also collect information about the website you were visiting before you came to PRGX and the website you visit after you leave our site.
                    <br />
                    <br />
                    <b><i>Can cookies be disabled? </i></b>
                    <br />
                    In most cases, if you prefer not to allow the use of cookies, you can manage cookie preferences and opt-out of having cookies and other data collection technologies used by adjusting the settings on your browser. All browsers are different, so please visit the “help” section of your browser to learn about the privacy settings that may be available.  Please be advised that disabling cookies may result in limited functionality on our sites.
                </div>
                <strong>Choice, Access and Correction</strong><br /><br />
                <div>
                    With  regard  to  the  PII  that  we  collect,  we  are  committed  to  respecting individual  rights  of  choice,  access  and  correction.  Individuals may submit access requests, ask questions or object to our processing of their PII by contacting us at
                    <a class="SICCodeLink" href="mailto:privacyoffice@prgx.com" style="color:#449d44">  privacyoffice@prgx.com</a>.
                    We will use reasonable efforts to respond to all such requests in a timely manner. <br>
                    <br>
                    With  respect  to  PII  provided  to  us  by,  or  on  behalf  of,  our  clients,  we recommend that you contact the client directly to seek access to and to correct, amend, or delete inaccurate data. If you need assistance, please contact us and we  will  request  our  clients  to  correct,  amend  or  delete  any  erroneous information, subject to their own policies and instructions.
                </div>
                <br />
                <strong>Enforcement of this Statement</strong>
                <br /><br />
                <div>
                    For disputes arising under our Safe Harbor certification, we will cooperate with the European Union Data Protection Authorities and the United States Department of Commerce to resolve any complaints and disputes arising in connection with this Statement. For all other disputes, we will investigate any reported complaints of violation of this Statement and take what we believe to be appropriate action where violations are found. If you have questions about our Statement or how we handle PII, please contact us at <a class="SICCodeLink" href="mailto:privacyoffice@prgx.com" style="color:#449d44">privacyoffice@prgx.com. </a>
                </div>
                <br />
                <strong>Information about Children</strong>
                <br /><br />
                <div>We do not knowingly provide products or services to or solicit information from children under the age of 18.</div>
                <br />
                <strong>Changes to this Statement</strong>
                <br /><br />
                <div>From time to time, we may decide to make changes to this Statement. If we make a material change, we will post the revised statement and highlight the change in this section of the Statement. We will not apply any material changes retroactively unless we have notified you and given you a chance to object.</div>
                <br />
                <div>
                    <b>January 20, 2010: </b>As part of the launch of our new PRGX website, the “Cookie” section of this Statement has been updated to reflect new and limited uses of cookies which are used to monitor the traffic and use within our site as well as to enhance web content and functionality.  Cookies on our site do not collect personal information.
                </div>
                <br />
                <div><b>October 10, 2014: </b> PRGX’s Global Privacy Policy was updated to reflect compliance with United States and international data protection laws and regulations including the European Union Data Privacy Directive, Mexico’s Federal Law Protecting Personal Data, and the Canadian Personal Information Protection and Electronic Documents Act (PIPEDA).</div>
                <br />
                <div><b>June 10, 2015:  </b>The “Cookie” section of PRGX’s Global Privacy Policy was updated to reflect new and limited uses of cookies, and other similar technologies, which will be used to associate web activity with limited Personal Information in order to personalize and enhance user experience. In addition, information regarding ability users’ ability to opt-out of cookie usage was added to the Cookie section of this Policy.</div>
                <br />
                <strong>Employee Privacy Statement</strong>
                <br /><br />
                <div>Respecting the privacy of our employees is important to PRGX Global, Inc. and its subsidiaries and branches (collectively referred to in this document as “we,” “our,” or “us”). We are committed to the proper handling of personally identifiable information (“PII”) collected or generated in connection with your employment. PII is any information that can be used to identify or contact an individual. PII includes, but is not limited to, name, home address, email address, phone number, government issued ID (i.e. SSN, SIN, driver’s license number), and health and benefits information. This Employee Privacy Statement (“Statement”) explains our practices with regard to employee PII.</div>
                <br />
                <div>With respect to employee data, PRGX complies with United States and international data protection laws and regulations including the European Union Data Privacy Directive, Mexico’s Federal Law Protecting Personal Data, and the Canadian Personal Information Protection and Electronic Documents Act (PIPEDA).</div>
                <div class="col-md-11 col-md-offset-1  col-sm-11 col-sm-offset-1 col-xs-12" style="padding-bottom:20px;padding-top:20px;">
                    <ol>
                        <li style="padding-bottom:10px;">We take reasonable steps to protect your PII.</li>
                        <li style="padding-bottom:10px;">We collect, process, and transfer employee PII through electronic and paper-based data processes. We have established routine processing for certain functions relating to your employment (such as processing for regular payroll and benefits administration). We also process employee PII on an occasional or ad hoc basis (such as when an employee is being considered for a new position). All processing and transfers of PII are subject to confidentiality and privacy safeguards as set forth in this Employee Privacy Statement, our Security Policies and applicable laws. PII will not be collected, processed or transferred, except where adequate privacy protection mechanisms are in place and, if required by law, after having first obtained consent.</li>
                        <li style="padding-bottom:10px;">We process employee PII for the following purposes: (1) recruitment and staffing; (2) administration of compensation and benefits programs; (3) performance management and training; (4) advancement and succession planning; (5) legal compliance and risk management; (6) workplace management and reporting; (7) protection of our company, our workforce, and the public against injury, theft, legal liability, fraud or abuse; and (8) other customary and legal business-related purposes. If you, at any time, object to your PII being processed, you may contact your local Human Resources manager. Where reasonable, we will accommodate your request, although if we cannot process your information you may be denied certain benefits.</li>
                        <li style="padding-bottom:10px;">We will disclose your personal information only (1) among our affiliated companies (including our subsidiaries and branches) for purposes stated in this Statement (2) to data processors, who we contract for specific purposes, (3) to companies who provide benefits and services to you (such as retirement plans), (4) where required by law, or (5) where permitted by law, such as with your consent or in the event of an emergency.</li>
                        <li style="padding-bottom:10px;">Bear in mind that employees and applicants share responsibility for the accuracy of their personal information. Please let us know when changes to your personal information are needed by contacting your local Human Resources manager.</li>
                        <li style="padding-bottom:10px;">We are also committed to protecting the privacy of our clients, visitors to our website, and of our vendors. Employees are expected to follow the company’s security and privacy policies and procedures when accessing and handling client, vendor and website visitors’ data.</li>
                        <li style="padding-bottom:10px;">If you have questions or concerns with respect to the personal information we have about you, please contact the Privacy Department.</li>
                    </ol>
                </div>
                <strong>Questions 	</strong><br />
                <br /><div>Questions about our Statement may be sent by email to:<a class="SICCodeLink" href="mailto:privacyoffice@prgx.com" style="color:#449d44">privacyoffice@prgx.com </a></div>
                <br />
                <div>This Statement was last updated on June 10, 2015.</div><br /><br />
                <div>Alicia Jackson</div>
                <div>VP, Privacy </div>
                <div>770-779-3042</div>
                <div><a class="SICCodeLink" href=" mailto:alicia.jackson@prgx.com" style="color:#449d44">Alicia.Jackson@prgx.com</a></div>
                <div><a class="SICCodeLink" href="mailto:privacyoffice@prgx.com" style="color:#449d44">PrivacyOffice@prgx.com</a></div>
                <br />
                <br />
                <br />
                <div>&copy;  2015 PRGX Global, Inc. All rights reserved. Many of the trademarks and service marks appearing on this Web site are registered trademarks. Use of this site is subject to certain Terms of Use which constitute a legal agreement between you and the Company. By using this site, you acknowledge that you have read, understood, and agree to be bound by the Terms of Use. Please review the  Terms of Use; and if you do not agree to the terms, please do not use this site.</div>
            </div>
        </div>
    </div>
</div>

